body {
  font-family: 'Poppins', sans-serif;
  background: #f2f4f8;
  margin: 0;
  padding: 0;
  color: #333;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
}

.titulo {
  text-align: center;
  margin-bottom: 25px;
}

.form-card, .card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #886e1f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}



.error {
  color: red;
  font-size: 14px;
}

.precio {
  font-size: 42px;
  font-weight: bold;
  color: #0056d6;
}

.lista li {
  color: blanchedalmond;
  margin-bottom: 10px;
}

.logo{
  width: 70%;
  height:70%;
  margin-left:15%;
  

 
}